<div class="about-me-container">
    <div class="profile-picture">
        <img src="../../../assets/images/my-photo.png" alt="Profile Picture">
    </div>
    <h2>About Me</h2>
    <p class="info">I am a passionate and motivated Software Developer and Electrical Mechanical Engineer with a diverse skill set. I am always ready for new challenges and eager to learn. Feel free to browse through my page or get in touch for more information.</p>
    <h2 class="contanct-info">Contact Information</h2>
    <p>Email: <a href="mailto:kountourispan022@gmail.com">kountourispan022@gmail.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/kountouris-panagiotis/" target="_blank">Panagiotis Kountouris</a></p>
</div>
