.about-me-container {
    text-align: center;
    padding: 15px;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom right, white, #008fe8);
}

.profile-picture img {
    margin-top: 100px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.info {
    width: 50vw;
    max-width: 400px;
    margin: 0 auto;
    text-align: justify;
    text-indent: 20px; 
    margin-bottom: 100px;
}
