.custom-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .scrollable-table {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .table td,
  .table th {
    text-align: center;
    vertical-align: middle;
  }
  
  .headline {
    color: #7ac4f3;
  }

  .align-items-center {
    padding-top: 10px;
  }