<div class="booking-container">
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Vestibulum in ipsum sit amet magna vehicula accumsan.</li>
        <li>Phasellus eget nisi feugiat, fermentum ipsum id, convallis urna.</li>
        <li>Pellentesque at nunc et sem cursus ullamcorper a vitae nisi.</li>
        <li>Morbi ornare dolor nec dui semper, id luctus risus sollicitudin.</li>
        <li>In vitae odio interdum, iaculis nulla et, pulvinar nibh.</li>
        <li>Duis sagittis ante eu urna semper, ut ornare felis laoreet.</li>
        <li>Donec faucibus lorem at ante volutpat, a consequat diam vehicula.</li>
        <li>Nunc id lectus at lectus pellentesque convallis non non elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Vestibulum in ipsum sit amet magna vehicula accumsan.</li>
        <li>Phasellus eget nisi feugiat, fermentum ipsum id, convallis urna.</li>
        <li>Pellentesque at nunc et sem cursus ullamcorper a vitae nisi.</li>
        <li>Morbi ornare dolor nec dui semper, id luctus risus sollicitudin.</li>
        <li>In vitae odio interdum, iaculis nulla et, pulvinar nibh.</li>
        <li>Duis sagittis ante eu urna semper, ut ornare felis laoreet.</li>
        <li>Donec faucibus lorem at ante volutpat, a consequat diam vehicula.</li>
        <li>Nunc id lectus at lectus pellentesque convallis non non elit.</li>
    </ul>

</div>

