<div class="container-fluid" disabled>
    <div class="text-center mt-4">
      <h1 class="display-4">Fill in the Booking Form</h1>
    </div>
  
    <div class="card mt-4">
      <div class="card-body custom-shadow">
        <form>
          <!-- ROW 1 -->
          <div class="form-group row">
            <!-- Arithmos kratisis (bookCode)-->
            <div class="col-sm-6 d-flex align-items-center">
              <label for="bookCode" class="mr-2 col-sm-3">Αριθμός Κράτησης:</label>
              <input type="text" readonly class="col-sm-3 form-control-plaintext" id="bookCode" value="-----">
            </div>
            <!-- Hmerominia (Date)-->
            <div class="col-sm-6 d-flex align-items-center">
              <label for="date" class="mr-2">Ημερομηνία: </label>
              <input type="text" readonly class="form-control-plaintext label-margin" id="date" value="14/06/2023">
            </div>
          </div>

          <!-- ROW 2 -->
          <div class="form-group row">
            <!-- Tropos pliromis (paymethod)-->
            <div class="col-sm-6 d-flex align-items-center">
              <label for="paymethod" class="mr-2 col-sm-3">Τρόπος Πληρωμής :</label>
              <select id="paymethod" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Select</option>
                <option value="1">PAN</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            
            <!-- Kodikos Pliromis (payCode)-->
            <div class="col-sm-6 d-flex align-items-center">
              <label for="payCode" class="mr-2">Κωδικός πληρωμής:</label>
              <input type="text" readonly class="form-control-plaintext label-margin" id="payCode" value="---">
            </div>
          </div>

          <!-- ROW 3 -->
          <!-- Stoixeia Pelati -->
          <div class="form-group row">
            <!-- Kodikos Pelati (custCode) -->
            <div class="col-sm-3 d-flex align-items-center">
              <label for="custCode" class="mr-2 col-sm-3">Κωδικός πελάτη:</label>
              <input type="number" min="0" step="1" class="form-control" id="custCode-select" placeholder="Try 4845">
            </div>
            <!-- Eponumo pelati (custSurname)-->
            <div class="col-sm-3 d-flex align-items-center">
              <label for="custSurname" class="mr-2 col-sm-3">Επώνυμο πελάτη:</label>
              <input type="text" class="form-control" disabled="true" id="name" placeholder="-----">
            </div>
            <!-- Onoma pelati (custName) -->
            <div class="col-sm-3 d-flex align-items-center">
              <label for="custName" class="mr-2 col-sm-3">Όνομα πελάτη:</label>
              <input type="text" class="form-control" disabled="true" id="custName" placeholder="-----">
            </div>

            <!-- Tilefono (custPhone) -->
            <div class="col-sm-3 d-flex align-items-center">
              <label for="custPhone" class="mr-2 col-sm-3">Τηλέφωνο πελάτη:</label>
              <input type="text" class="form-control" disabled="true" id="custCode" placeholder="-----">
            </div>            
          </div>

          <!-- ROW 4 -->
          <!-- Stoixeia upalilou -->
          <div class="form-group row">
            <!-- Kodikos upalilou (staffNo)-->
            <div class="col-sm-3 d-flex align-items-center">
              <label for="staffNo" class="mr-2 col-sm-3">Κωδικός υπαλλήλου:</label>
              <input type="number" min="0" step="1" class="form-control" id="nopers-select" placeholder="Try 5044">
            </div>
            <!-- Eponumo upalilou (staffSurname) -->
            <div class="col-sm-3 d-flex align-items-center">
              <label for="staffSurname" class="mr-2 col-sm-3">Επώνυμο υπαλλήλου:</label>
              <input type="text" class="form-control" disabled="true" id="staffSurname" placeholder="-----">
            </div>
            <!-- Kodikos Pelati (staffName) -->
            <div class="col-sm-3 d-flex align-items-center">
              <label for="staffName" class="mr-2 col-sm-3">Όνομα Υπαλλήλου:</label>
              <input type="text" class="form-control" disabled="true" id="staffName" placeholder="-----">
            </div>           
          </div>

          <!-- Table -->
          <div class="booking-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Όνομα Κατασκήνωσης</th>
                  <th scope="col">Κωδικός Κατασκήνωσης</th>
                  <th scope="col">Αριθμός Θέσης</th>
                  <th scope="col">Κατηγορία θέσης</th>
                  <th scope="col">Έκταση Θέσης M<sup>2</sup></th>
                  <th scope="col">Κόστος Θέσης</th>
                  <th scope="col">Ημερομηνία Έναρξης</th>
                  <th scope="col">Ημερομηνία Λήξης</th>
                  <th scope="col">Αριθμός Ατόμων</th>
                  <th scope="col">Κόστος (Ευρώ)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!-- Onoma kataskinosis -->
                  <th scope="row">
                    <select id="campname-select" class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected>Select</option>
                      <option value="1">PAN</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </th>
                  <td>
                    <!-- kodikos kataskinosis -->
                    <label>-----</label>
                  </td>
                  <td>
                    <input type="number" min="0" step="1" class="form-control" id="empNo-select" placeholder="0">
                  </td>
                  <td>
                    <!-- CatCode -->
                    <label>-----</label>
                  </td>
                  <td>
                    <!-- area-M2 -->
                    <label>-----</label>
                  </td>
                  <td>
                    <!-- unitcost -->
                    <label>-----</label>
                  </td>
                  <td>
                    12/06/2019
                  </td>
                  <td>
                    <input type="date" class="form-control" id="date">
                  </td>
                  <td>
                    <input type="number" min="0" step="1" class="form-control" id="nopers-select" placeholder="0">
                  </td>
                  <td>30</td>
                </tr>

              </tbody>
            </table>
          </div>

            <!-- Total Cost -->
            <div class="total-cost row justify-content-end">
              <div class="col-sm-6 d-flex align-items-center">
                <label for="cost" class="mr-2 text-nowrap font-weight-bold">Συνολικό Κόστος: € 30 </label>
              </div>
            </div>

              <!-- Submit button -->
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        
        </form>
      </div>
    </div>
</div>
