.container-fluid {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, white, #7ac4f3);
  }
  
  .display-4 {
    color: #7ac4f3;
  }

.card {
  background-color: rgba(255, 255, 255, 0.3);
}

#date, #cost {
  padding-left: 10px;
}

.booking-table {
  margin-top: 20px;
  padding-top: 50px;
}

.total-cost {
  font-weight: bold;
  padding-right: 200px;
}

.row {
  margin-top: 15px;
}

#paymethod {
  width: 88px;
}

.custom-shadow {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
}

td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

th[scope="row"] {
  vertical-align: middle;
}

.input-container {
  position: relative;
}

.bubble-message {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  white-space: nowrap; /* Prevents text wrapping */
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bubble-message.show {
  display: block;
}

