<div class="container-fluid">
  <div class="text-center mt-4">
    <h1 class="display-4">Fill in the Booking Form</h1>
  </div>

  <div class="card mt-4">
    <div class="card-body custom-shadow">
      <form>
        <!-- ROW 1 -->
        <div class="form-group row">
          <!-- Arithmos kratisis (bookCode) -->
          <div class="col-sm-6 d-flex align-items-center">
            <label for="bookCode" class="mr-2 col-sm-3">Αριθμός Κράτησης:</label>
            <input type="text" [value]="bookCode" readonly class="col-sm-3 form-control-plaintext" id="bookCode">
          </div>

          <!-- Hmerominia (Date) -->
          <div class="col-sm-6 d-flex align-items-center">
            <label for="date" class="mr-2">Ημερομηνία: </label>
            <input type="text" readonly class="form-control-plaintext label-margin" id="date"
              [value]="date | date:'dd/MM/yyyy'">
          </div>
        </div>

        <!-- ROW 2 -->
        <div class="form-group row">
          <!-- Tropos pliromis (paymethod) -->
          <div class="col-sm-6 d-flex align-items-center">
            <label for="paymethod" class="mr-2 col-sm-3">Τρόπος Πληρωμής :</label>
            <select id="paymethod" name="payMethod" class="form-select form-select-sm" aria-label=".form-select-sm example"
              [(ngModel)]="selectedPayMethod" (change)="updatePayCode()">
              <option selected>Select</option>
              <option *ngFor="let payment of payments" [value]="payment.payMethod">{{ payment.payMethod }}</option>
            </select>
          </div>

          <!-- Kodikos Pliromis (payCode) -->
          <div class="col-sm-6 d-flex align-items-center">
            <label for="payCode" class="mr-2">Κωδικός πληρωμής:</label>
            <input type="text" readonly class="form-control-plaintext label-margin" id="payCode"
              [value]="selectedPayCode">
          </div>
        </div>

       <!-- ROW 3 -->
<!-- Stoixeia Pelati -->
<div class="form-group row">
  <!-- Kodikos Pelati (custCode) -->
  <div class="col-sm-3 d-flex align-items-center">
    <label for="custCode" class="mr-2 col-sm-3">Κωδικός πελάτη:</label>
    <input type="number" min="0" step="1" class="form-control" id="custCode" name="custCode" placeholder="1 - 4846"
      [(ngModel)]="selectedCustCode" (input)="searchCustomerByCode()">
  </div>

  <!-- Eponumo pelati (custSurname) -->
  <div class="col-sm-3 d-flex align-items-center">
    <label for="custSurname" class="mr-2 col-sm-3">Επώνυμο πελάτη:</label>
    <input type="text" class="form-control" id="custSurname" disabled="true" name="custSurname" [value]="selectedCustomer?.custSurname">
  </div>

  <!-- Onoma pelati (custName) -->
  <div class="col-sm-3 d-flex align-items-center">
    <label for="custName" class="mr-2 col-sm-3">Όνομα πελάτη:</label>
    <input type="text" class="form-control" id="custName" disabled="true" name="custName" [value]="selectedCustomer?.custName">
  </div>

  <!-- Tilefono (custPhone) -->
  <div class="col-sm-3 d-flex align-items-center">
    <label for="custPhone" class="mr-2 col-sm-3">Τηλέφωνο πελάτη:</label>
    <input type="text" class="form-control" id="custPhone" disabled="true" name="custPhone" [value]="selectedCustomer?.custPhone">
  </div>
</div>


        <!-- ROW 4 -->
        <!-- Stoixeia upalilou -->
        <div class="form-group row">
          <!-- Kodikos upalilou (staffNo) -->
          <div class="col-sm-3 d-flex align-items-center">
            <label for="staffNo" class="mr-2 col-sm-3">Κωδικός υπαλλήλου:</label>
            <input type="number" class="form-control" id="staffNo" name="staffNo" [placeholder]="'4945 - 5043'"
              [(ngModel)]="selectedStaffNo" (input)="searchStaffByNo()">
          </div>

          <!-- Eponumo upalilou (staffSurname) -->
          <div class="col-sm-3 d-flex align-items-center">
            <label for="staffSurname" class="mr-2 col-sm-3">Επώνυμο υπαλλήλου:</label>
            <input type="text" class="form-control" disabled="true" id="staffSurname"
              [value]="selectedStaff?.staffSurname">
          </div>

          <!-- Kodikos Pelati (staffName) -->
          <div class="col-sm-3 d-flex align-items-center">
            <label for="staffName" class="mr-2 col-sm-3">Όνομα Υπαλλήλου:</label>
            <input type="text" class="form-control" disabled="true" id="staffName"
              [value]="selectedStaff?.staffName">
          </div>
        </div>

       <!-- Table -->
<div class="booking-table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Όνομα Κατασκήνωσης</th>
        <th scope="col">Κωδικός Κατασκήνωσης</th>
        <th scope="col">Αριθμός Θέσης</th>
        <th scope="col">Κατηγορία θέσης</th>
        <th scope="col">Έκταση Θέσης M<sup>2</sup></th>
        <th scope="col">Κόστος Θέσης</th>
        <th scope="col">Ημερομηνία Έναρξης</th>
        <th scope="col">Ημερομηνία Λήξης</th>
        <th scope="col">Αριθμός Ατόμων</th>
        <th scope="col">Κόστος (Ευρώ)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Onoma kataskinosis (campName)-->
<th scope="row">
  <select id="campname-select" name="campName" class="form-select form-select-sm" aria-label=".form-select-sm example"
    [(ngModel)]="selectedCamping" (change)="updateCampCode()">
    <option selected>Select</option>
    <option *ngFor="let camp of campings" [value]="camp.campName">{{ camp.campName }}</option>
  </select>
</th>
<td>
  <!-- kodikos kataskinosis (campCode) -->
  <input type="text" readonly class="form-control-plaintext label-margin" id="campCode"
    [value]="selectedCampCode || '-----'">
</td>

        
                <!-- emplacement (empNo) -->
                <td>
                  <div class="input-container">
                    <input type="number" min="0" step="1" class="form-control" id="empNo" placeholder="0" name="empNo"
                      [(ngModel)]="selectedEmpNo" (input)="updateCatCodeAreaUnitCost()" (focus)="showBubbleMessage()"
                      (blur)="hideBubbleMessage()">
                    <div class="bubble-message" [ngClass]="{ 'show': displayBubbleMessage }">
                      1 - 14 is Category A
                    </div>
                  </div>
                  
                </td>
                <td>
                  <!-- categories (CatCode) -->
                  <input class="form-control-plaintext label-margin" readonly id="catCode" name="catCode" [(ngModel)]="selectedCatCode" >
                </td>
                <td>
                  <!-- categories (area) -->
                  <input class="form-control-plaintext label-margin" readonly id="area" name="area" [(ngModel)]="selectedArea" >
                </td>
                <td>
                  <!-- unitcost -->
                  <input class="form-control-plaintext label-margin" readonly id="unitCost" name="unitCost" [(ngModel)]="selectedUnitCost" >
                </td>
                <td>
                  <input type="text" readonly class="form-control-plaintext label-margin" id="startDate" name="startDate" [value]="date | date:'dd/MM/yyyy'"
                    >
                </td>
                <td>
                  <input type="date" class="form-control" id="endDate" name="endDate" name="endDt" [(ngModel)]="endDt" (change)="calculateTotalCost()" >
                </td>
                <td>
                  <input type="number" min="0" step="1" max="10" class="form-control" id="nopers-select" placeholder="0" name="noPers" [(ngModel)]="noPers"
                  (change)="calculateTotalCost()">
                </td>
                <td>30</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Total Cost -->
<div class="total-cost row justify-content-end">
  <div class="col-sm-6 d-flex align-items-center">
    <label class="mr-2 text-nowrap font-weight-bold" id="totalCost">Συνολικό Κόστος: € {{ totalCost || '0' }}</label>
  </div>
</div>


        <!-- Submit button -->
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
