.container-fluid {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, white, #7ac4f3);
  }
  
  .display-4 {
    color: #7ac4f3;
  }

.card {
  background-color: rgba(255, 255, 255, 0.3);
}

#date, #cost {
  padding-left: 10px;
}

.booking-table {
  margin-top: 20px;
  padding-top: 50px;
}

.total-cost {
  font-weight: bold;
  padding-right: 200px;
}

.row {
  margin-top: 15px;
}

#payMethod {
  width: 88px;
}

