<div class="container-fluid">
    <div class="text-center mt-4">
      <h1 class="display-4">Manage Categories</h1>
    </div>
  
    <div class="card mt-4 card-body custom-shadow">
      <form (ngSubmit)="submitForm()" #categoryForm="ngForm" [ngClass]="{ 'was-validated': categoryForm.submitted }">
  
        <div class="form-group row">
          <div class="col-sm-6 d-flex align-items-center">
            <label class="mr-2 col-sm-5">Στοιχεία Κατηγορίας:</label>
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-sm-3 d-flex align-items-center">
            <label for="catCode" class="mr-2 col-sm-3">Κωδικός Κατηγορίας:</label>
            <input type="text" class="form-control small-input" id="catCode" [(ngModel)]="catCode" name="catCode" disabled required>
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-sm-3 d-flex align-items-center">
            <label for="areaM2" class="mr-2 col-form-label col-sm-3">Εμβαδόν (m²):</label>
            <div class="col-sm-9">
              <input [(ngModel)]="areaM2" name="areaM2" type="number" class="form-control" id="areaM2" min="0" step="0.01" required>
            </div>
          </div>
  
          <div class="col-sm-3 d-flex align-items-center">
            <label for="unitCost" class="mr-2 col-form-label col-sm-3">Κόστος μονάδας:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="unitCost" name="unitCost" type="number" class="form-control" id="unitCost" min="0" step="0.01" required>
            </div>
          </div>
        </div>
  
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid">Submit</button>
        </div>
  
      </form>
    </div>
  
    <div class="form-group row">
      <div class="col-sm-12">
        <table class="table table-striped table-hover mx-auto scrollable-table">
          <thead>
            <tr>
              <th scope="col">Κωδικός Κατηγορίας</th>
              <th scope="col">Εμβαδόν (m²)</th>
              <th scope="col">Κόστος Μονάδας</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <th scope="row">{{ category.catCode }}</th>
              <td>{{ category.areaM2 }}</td>
              <td>{{ category.unitCost }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-primary" (click)="updateCategory(category)">Update</button>
                  <button class="btn btn-danger" (click)="deleteCategory(category)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  