
<mat-tab-group class="sticky-tab">


  <!-- Welcome -->
  <mat-tab label="Welcome" id="Welcome">
    <app-welcome></app-welcome>
  </mat-tab>

  <!-- Booking -->
  <mat-tab label="Booking" id="Booking">
    <app-booking></app-booking>
  </mat-tab>
  
  <!-- Management -->
  <mat-tab label="Management">
    <mat-tab-group class="sticky-tab">
      <mat-tab label="Customers" id="staff1">
          <app-customers></app-customers> 
      </mat-tab>
      <mat-tab label="Staff" id="staff2">
          <app-staff></app-staff>
      </mat-tab>
      <mat-tab label="Categories" id="staff3">
        <app-category></app-category>
      </mat-tab>
      <mat-tab label="Campings" id="staff4">
          <app-camping></app-camping> 
      </mat-tab>
      <mat-tab label="Payments" id="staff5">
        <app-payment></app-payment>
      </mat-tab>
      <mat-tab label="Emplacements" id="staff6">
        <app-emplacement></app-emplacement>
      </mat-tab>
      <mat-tab label="Statistics" id="staff9">
        <app-statistics></app-statistics>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>

  <!-- About me -->
  <mat-tab label="About me"> 
    <app-about-me></app-about-me>  
  </mat-tab>
</mat-tab-group>

