<p>emplacement works!</p>
<div class="container-fluid">
    <h1 class="text-center">Manage Emplacements</h1>
    <div class="row">
        <form class="col-md-4 offset-md-4" #emplForm="ngForm" (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="campCode">Camping Code</label>
                <select class="form-control" id="campCode" [(ngModel)]="selectedCampCode" name="campCode" required>
                    <option *ngFor="let code of campCodes" [value]="code">{{code}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="empNo">Emplacement Number</label>
                <input type="number" class="form-control" id="empNo" [(ngModel)]="empNo" name="empNo" required>
            </div>

            <div class="form-group">
                <label for="catCode">Category Code</label>
                <select class="form-control" id="catCode" [(ngModel)]="selectedCatCode" name="catCode" required>
                    <option *ngFor="let code of catCodes" [value]="code">{{code}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Camping Code</th>
                    <th>Emplacement Number</th>
                    <th>Category Code</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let emplacement of emplacements">
                    <td>{{emplacement.campCode}}</td>
                    <td>{{emplacement.empNo}}</td>
                    <td>{{emplacement.catCode}}</td>
                    <td><button (click)="deleteEmplacement(emplacement)" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
