<div class="container">
    <div class="powerbi-section">
      <h1>Published PowerBi Analysis. <span class="highlight">Live</span> Connection to Database. (60 minutes refresh rate)</h1>
      <div class="powerbi">
        <iframe title="campDB-publish" width="1140" height="541.25" 
          src="https://app.powerbi.com/reportEmbed?reportId=caebe97d-a9d8-42a5-b4c5-6e362a7a1617&autoAuth=true&ctid=ad5ba4a2-7857-4ea1-895e-b3d5207a174f" 
          frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
  
  