.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  .powerbi-section {
    text-align: center;
  }
  
  .powerbi {
    display: inline-block;
  }
  
  .highlight {
    font-weight: bold;
    color: red;
  }
  
  iframe {
    border: 2px solid black;
  }
